.button {
  text-decoration: none;
  min-height: 42px;
  line-height: 1.5px;
  font-size: 13px;
  border: none;
  padding: 10px 12px 9px;
  background-color: #02d473;
  color: black;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 600;
}
