.h-scoller {
  @apply block;
}
.h-scoller__body {
  transform: translate3d(0, 0, 0);
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.h-scoller__list {
  @apply flex -ml-2 h-full items-stretch;
}

.h-scoller__item {
  @apply px-2 w-64 min-w-64 flex-1 h-full;
}

.h-scoller__overlay-right {
  @apply -mr-4 bg-gradient-to-r from-transparent to-white;
}

.h-scoller__overlay-left {
  @apply -ml-4 bg-gradient-to-l from-transparent to-white;
}
